<div id="notice" class="bg-light-gray">
  <div class="container">
      <div class="row">
          <div class="alert alert-warning">
            <center>
              <strong>YOUR VOICE MATTERS!</strong><br/>
              Contribute your course and instructor feedback for Spring 2018 courses<br/>
              <strong>April 12th - May 3rd</strong><br/>
              <b><a href="http://esff.temple.edu/" target="_blank">http://esff.temple.edu/</a></b>
            </center>
          </div>
      </div>
  </div>
</div>
