<div id="notice" class="bg-light-gray">
  <div class="container">
      <div class="row">
          <div class="alert alert-warning">
            <center>
              <strong>YOUR VOICE MATTERS</strong><br/>
              Share course and instructor feedback for your current courses<br/>
              <strong>April 12th - May 3rd</strong><br/>
              <b><a href="https://sff.temple.edu/" target="_blank">https://sff.temple.edu/</a></b>
            </center>
          </div>
      </div>
  </div>
</div>
