<div id="notice" class="bg-light-gray">
  <div class="container">
      <div class="row">
          <div class="alert alert-warning">
            <center>
              <strong>Don't Delay, Give Feedback Today!</strong><br/>
              Complete Your Student Feedback Forms<br/>
              <strong>April 13th - May 4th</strong><br/>
              <b><a href="http://esff.temple.edu/" target="_blank">http://esff.temple.edu/</a></b>
            </center>
          </div>
      </div>
  </div>
</div>