<!-- Portfolio Grid Section -->
<div class="container">
    <div class="row">
    {% for link in site.data.links %}
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="{{ link.uri }}" class="portfolio-link" data-toggle="modal" target="_blank">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-bookmark-o fa-3x"></i>
                    </div>
                </div>
                <img src="{{ link.image_path }}" class="img-responsive img-centered" alt="{{ link.name }}">
            </a>
            <div class="portfolio-caption">
                <h4>{{ link.name }}</h4>
                <p class="text-muted">{{ link.description }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>